{% extends 'wagha/base.html' %} {% block content %}
<head>
  <style>
    .filter-category-label {
      font-size: 1.2em;
      color: #7a5bff;
    }
    .divider {
      height: 1px;
      width: 100%;
      background-color: #d8cfff;
    }
    #all-products-container::-webkit-scrollbar {
      display: none;
    }
  </style>
</head>
<div class="container">
  <div class="row">
    <div class="col-lg-3 p-4" style="overflow-y: scroll; max-height: 90vh">
      <div
        style="width: 100%; background-color: rgb(214, 214, 214); height: 280px"
      ></div>
      <div
        class="p-3 mt-5"
        style="border: 1px solid #6745ff; border-radius: 10px"
      >
        <form id="all-filter" method="POST">
          {% csrf_token %}
          <div>
            <h3 class="filter-category-label">Price</h3>
            <div>
              <div class="d-flex justify-content-between">
                <label>₹0</label>
                <label>₹1000</label>
              </div>
              <input
                type="range"
                min="0"
                value="{{ selected_price }}"
                max="1000"
                step="100"
                name="price"
                class="form-range"
                id="price-range"
                onchange="updateTextInput(this.value);"
              />
              <input type="text" id="textInput" value="{{ selected_price }}" />
            </div>

            <div class="divider my-3"></div>

            <div>
              <h3 class="filter-category-label">Colors</h3>
              <div>
                {% for color in all_colors %}
                <div class="form-check">
                  {% if color.label in selected_colors %}
                  <input
                    class="form-check-input color-checkbox"
                    type="checkbox"
                    checked
                    name="color"
                    value="{{ color.label }}"
                    id="color-{{ color.label }}"
                  />
                  {% else %}
                  <input
                    class="form-check-input color-checkbox"
                    type="checkbox"
                    name="color"
                    value="{{ color.label }}"
                    id="color-{{ color.label }}"
                  />
                  {% endif %}
                  <label class="form-check-label" for="color-{{ color.label }}">
                    {{color.label}}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="divider my-3"></div>

            <div>
              <h3 class="filter-category-label">Size</h3>
              <div>
                {% for size in all_sizes %}
                <div class="form-check">
                  {% if size.label in selected_sizes %}
                  <input
                    class="form-check-input size-checkbox"
                    type="checkbox"
                    name="size"
                    checked
                    value="{{ size.label }}"
                    id="size-{{ size.label }}"
                  />
                  {% else %}
                  <input
                    class="form-check-input size-checkbox"
                    type="checkbox"
                    name="size"
                    value="{{ size.label }}"
                    id="size-{{ size.label }}"
                  />
                  {% endif %}
                  <label class="form-check-label" for="size-{{ size.label }}">
                    {{size.label}}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="divider my-3"></div>

            <div>
              <h3 class="filter-category-label">Materials</h3>
              <div>
                {% for material in all_materials %}
                <div class="form-check">
                  {% if material.label in selected_materials %}
                  <input
                    class="form-check-input material-checkbox"
                    type="checkbox"
                    checked
                    name="material"
                    value="{{ material.label }}"
                    id="size-{{ material.label }}"
                  />
                  {% else %}
                  <input
                    class="form-check-input material-checkbox"
                    type="checkbox"
                    name="material"
                    value="{{ material.label }}"
                    id="size-{{ material.label }}"
                  />
                  {% endif %}
                  <label class="form-check-label" for="flexCheckDefault">
                    {{material.label}}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div
      class="col-lg-9 p-5"
      id="all-products-container"
      style="overflow-y: scroll; max-height: 90vh"
    >
      <div class="d-flex justify-content-between">
        <h2 class="home-page-title">Our Products</h2>
        <div>
          <form id="sort-by-form" method="post">
            {% csrf_token %}
            <select
              id="sort-by"
              class="form-select"
              name="sort-by"
              aria-label="Default select example"
            >
              {% if sortingType == "?" %}
              <option selected>Sort By</option>
              {% else %}
              <option>Sort By</option>
              {% endif %} {% if sortingType == "price" %}
              <option selected value="prc-l-h">Price Low to High</option>
              {% else %}
              <option value="prc-l-h">Price Low to High</option>
              {% endif %} {% if sortingType == "-price" %}
              <option selected value="prc-h-l">Price High to Low</option>
              {% else %}
              <option value="prc-h-l">Price High to Low</option>
              {% endif %}

              <option value="ppl-h-l">Popular</option>
            </select>
          </form>
        </div>
      </div>
      <div id="products" class="d-flex row mt-5">
        {% for product in all_products %}
        <div
          class="col-lg-4 product-card-main product-card-color-{{ product.color }} product-card-material-{{ product.material }} product-card-color-{{ product.size }}"
        >
          <div class="mb-4 col product-card">
            <div class="product-card-image-container">
              <img
                class="product-card-image"
                src="{{ product.images.all.first.image.url }}"
              />
              <button class="product-card-favourite-icon">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7.05 3C3.70875 3 1 5.72607 1 9.08868C1 15.1774 8.15 20.7125 12 22C15.85 20.7125 23 15.1774 23 9.08868C23 5.72607 20.2913 3 16.95 3C14.904 3 13.0945 4.02235 12 5.58714C11.4421 4.78742 10.701 4.13476 9.83934 3.68442C8.9777 3.23407 8.02091 2.99931 7.05 3Z"
                    stroke="#EE3628"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
            <div class="product-card-description-container">
              <div class="product-card-heading-container">
                <h3 class="product-card-title">{{product.label}}</h3>
                <p class="product-card-price">₹ {{product.price}}</p>
              </div>
              <div style="">
                <p class="product-card-size">Size {{product.material}}</p>
              </div>
            </div>
            <div class="product-card-button-container">
              <form style="width: 45%" id="product-card-form" method="POST">
                <input type="hidden" name="product" value="{{product.id}}" />
                <input
                  type="hidden"
                  name="card_action_type"
                  value="add-to-cart"
                />
                {% csrf_token %} {% if product.in_cart %}
                <button
                  type="submit"
                  class="product-card-add-to-card-button add-to-cart"
                >
                  Added
                </button>
                {% else %}
                <button
                  type="submit"
                  class="product-card-add-to-card-button add-to-cart"
                >
                  Add to Cart
                </button>
                {% endif %}
              </form>
              <form style="width: 45%" id="product-card-form" method="POST">
                <input type="hidden" name="product" value="{{product.id}}" />
                <input
                  type="hidden"
                  name="card_action_type"
                  value="view-product"
                />
                {% csrf_token %}
                <button type="submit" class="product-card-buy-now-button">
                  View
                </button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script>
    function updateTextInput(val) {
      document.getElementById("textInput").value = val;
    }
    document.addEventListener("DOMContentLoaded", function () {
      const allFilterForm = document.getElementById("all-filter");
      const sortByForm = document.getElementById("sort-by-form");
      // const products = Array.from(
      //   document.querySelectorAll(".product-card-main")
      // );

      // function renderProducts(filteredProducts) {
      //   products.forEach((product) => {
      //     product.style.display = filteredProducts.includes(product)
      //       ? "block"
      //       : "none";
      //   });
      // }

      // function getSelectedColors() {
      //   const selectedColorCheckboxes = document.querySelectorAll(
      //     ".color-checkbox:checked"
      //   );
      //   return Array.from(selectedColorCheckboxes).map(
      //     (checkbox) => checkbox.value
      //   );
      // }
      // function getSelectedSizes() {
      //   const selectedColorCheckboxes = document.querySelectorAll(
      //     ".size-checkbox:checked"
      //   );
      //   return Array.from(selectedColorCheckboxes).map(
      //     (checkbox) => checkbox.value
      //   );
      // }
      // function getSelectedMaterials() {
      //   const selectedColorCheckboxes = document.querySelectorAll(
      //     ".material-checkbox:checked"
      //   );
      //   return Array.from(selectedColorCheckboxes).map(
      //     (checkbox) => checkbox.value
      //   );
      // }
      console.log("adasd asdas asd asda deqqweqweq   a");
      // function applyFilters() {
      //   console.log("adasd asdas asda");
      //   const selectedColors = getSelectedColors();
      //   // const selectedMaterial = document.getElementById("material").value;

      //   const filteredProducts = products.filter((product) => {
      //     const matchesColor =
      //       selectedColors.length === 0 ||
      //       selectedColors.some((color) =>
      //         product.classList.contains(`product-card-color-${color}`)
      //       );
      //     console.log("filtered products color", selectedColors);
      //     // const matchesMaterial =
      //     //   !selectedMaterial ||
      //     //   product.classList.contains(
      //     //     `product-card-material-${selectedMaterial}`
      //     //   );

      //     return matchesColor;
      //   });
      //   console.log("adasd asdas asda", filteredProducts);
      //   renderProducts(filteredProducts);
      // }
      function submitColorFilterForm() {
        // const selectedColors = getSelectedColors();
        allFilterForm.submit();
      }
      function submitSizeFilterForm() {
        // const selectedSizes = getSelectedSizes();
        allFilterForm.submit();
      }
      function submitMaterialFilterForm() {
        // const selectedMaterials = getSelectedMaterials();
        allFilterForm.submit();
      }
      function submitPriceFilterForm() {
        // const selectedMaterials = getSelectedMaterials();
        allFilterForm.submit();
      }
      function submitSortByForm() {
        // const selectedMaterials = getSelectedMaterials();
        allFilterForm.submit();
        sortByForm.submit();
      }
      document.querySelectorAll(".color-checkbox").forEach((checkbox) => {
        checkbox.addEventListener("change", submitColorFilterForm);
      });
      document.querySelectorAll(".size-checkbox").forEach((checkbox) => {
        checkbox.addEventListener("change", submitSizeFilterForm);
      });
      document.querySelectorAll(".material-checkbox").forEach((checkbox) => {
        checkbox.addEventListener("change", submitMaterialFilterForm);
      });
      document
        .getElementById("price-range")
        .addEventListener("change", submitPriceFilterForm);
      document
        .getElementById("sort-by")
        .addEventListener("change", submitSortByForm);
      // document
      //   .getElementById("material")
      //   .addEventListener("change", applyFilters);

      // Initial rendering with all products
      // renderProducts(products);
    });
  </script>
</div>
{% endblock %}
