{% extends 'wagha/base.html' %} {% block content %}
<head>
  <style></style>
</head>
<div class="container">
  <div class="row">
    <div class="col-lg-3 p-4">
      <div
        style="width: 100%; background-color: rgb(214, 214, 214); height: 280px"
      ></div>
    </div>
    <div class="col-lg-9 p-5">
      <div class="d-flex justify-content-between">
        <h2 class="home-page-title">Our Products</h2>
        <div>
          <div class="dropdown">
            <a
              class="btn btn-secondary dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Sort By
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Price Low to High</a></li>
              <li><a class="dropdown-item" href="#">Price High to Low</a></li>
              <li><a class="dropdown-item" href="#">Popular</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex row mt-5">
        {% for product in all_products %}
        <div class="col-lg-4">
          <div class="mb-4 col product-card">
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="product" value="{{product.id}}" />

              <div class="product-card-image-container">
                <img
                  class="product-card-image"
                  src="{{ product.images.all.first.image.url }}"
                />
                <button class="product-card-favourite-icon">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.05 3C3.70875 3 1 5.72607 1 9.08868C1 15.1774 8.15 20.7125 12 22C15.85 20.7125 23 15.1774 23 9.08868C23 5.72607 20.2913 3 16.95 3C14.904 3 13.0945 4.02235 12 5.58714C11.4421 4.78742 10.701 4.13476 9.83934 3.68442C8.9777 3.23407 8.02091 2.99931 7.05 3Z"
                      stroke="#EE3628"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
              </div>
              <div class="product-card-description-container">
                <div class="product-card-heading-container">
                  <h3 class="product-card-title">{{product.label}}</h3>
                  <p class="product-card-price">₹ {{product.price}}</p>
                </div>
                <div style="">
                  <p class="product-card-size">Size {{product.size}}</p>
                </div>
              </div>
              <div class="product-card-button-container">
                <button class="product-card-add-to-card-button">
                  Add to Cart
                </button>
                <button type="submit" class="product-card-buy-now-button">
                  View
                </button>
              </div>
            </form>
          </div>
        </div>
        {% endfor %} {% for product in all_products %}
        <div class="col-lg-4">
          <div class="mb-4 col product-card">
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="product" value="{{product.id}}" />

              <div class="product-card-image-container">
                <img
                  class="product-card-image"
                  src="{{ product.images.all.first.image.url }}"
                />
                <button class="product-card-favourite-icon">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.05 3C3.70875 3 1 5.72607 1 9.08868C1 15.1774 8.15 20.7125 12 22C15.85 20.7125 23 15.1774 23 9.08868C23 5.72607 20.2913 3 16.95 3C14.904 3 13.0945 4.02235 12 5.58714C11.4421 4.78742 10.701 4.13476 9.83934 3.68442C8.9777 3.23407 8.02091 2.99931 7.05 3Z"
                      stroke="#EE3628"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
              </div>
              <div class="product-card-description-container">
                <div class="product-card-heading-container">
                  <h3 class="product-card-title">{{product.label}}</h3>
                  <p class="product-card-price">₹ {{product.price}}</p>
                </div>
                <div style="">
                  <p class="product-card-size">Size {{product.size}}</p>
                </div>
              </div>
              <div class="product-card-button-container">
                <button class="product-card-add-to-card-button">
                  Add to Cart
                </button>
                <button type="submit" class="product-card-buy-now-button">
                  View
                </button>
              </div>
            </form>
          </div>
        </div>
        {% endfor %} {% for product in all_products %}
        <div class="col-lg-4">
          <div class="mb-4 col product-card">
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="product" value="{{product.id}}" />

              <div class="product-card-image-container">
                <img
                  class="product-card-image"
                  src="{{ product.images.all.first.image.url }}"
                />
                <button class="product-card-favourite-icon">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.05 3C3.70875 3 1 5.72607 1 9.08868C1 15.1774 8.15 20.7125 12 22C15.85 20.7125 23 15.1774 23 9.08868C23 5.72607 20.2913 3 16.95 3C14.904 3 13.0945 4.02235 12 5.58714C11.4421 4.78742 10.701 4.13476 9.83934 3.68442C8.9777 3.23407 8.02091 2.99931 7.05 3Z"
                      stroke="#EE3628"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
              </div>
              <div class="product-card-description-container">
                <div class="product-card-heading-container">
                  <h3 class="product-card-title">{{product.label}}</h3>
                  <p class="product-card-price">₹ {{product.price}}</p>
                </div>
                <div style="">
                  <p class="product-card-size">Size {{product.size}}</p>
                </div>
              </div>
              <div class="product-card-button-container">
                <button class="product-card-add-to-card-button">
                  Add to Cart
                </button>
                <button type="submit" class="product-card-buy-now-button">
                  View
                </button>
              </div>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
