{% extends 'wagha/base.html' %} {% block content %}
<head>
  <style>
    .product-card-image {
      width: 450px;
      height: 450px;
      padding: 1.5em;
    }
    .product-card-thumbnail {
      width: 100px;
      height: 100px;
      padding: 1.5em;
    }
    .product-thumbnail-container {
      background-color: #fbfbfb;
      border-radius: 10px;
      position: relative;
      margin-right: 0.5em;
    }
  </style>
</head>
<div class="container">
  <div class="d-flex row">
    <div class="col-5">
      <div class="product-card-image-container">
        <img
          id="main-image"
          class="product-card-image"
          src="{{ selected_product.images.all.first.image.url }}"
        />
      </div>
      <div class="d-flex mt-3">
        {% for image in selected_product.images.all %}
        <div class="product-thumbnail-container">
          <img
            class="product-card-thumbnail thumbnail"
            src="{{ image.image.url }}"
          />
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-6">
      <h2>{{ selected_product.label }}</h2>
      <p>{{ selected_product.description }}</p>
      <p class="mt-5" style="font-size: 2em; font-weight: 700">
        ₹ {{ selected_product.price }}
      </p>
      <div>
        <div>
          <button
            style="
              background-color: #7a5bff;
              border: none;
              border-radius: 5px;
              padding: 4px 10px;
              color: white;
            "
          >
            +
          </button>
          <input placeholder="0" type="number" style="width: 3em" />
          <button
            style="
              background-color: #7a5bff;
              border: none;
              border-radius: 5px;
              padding: 4px 10px;
              color: white;
            "
          >
            -
          </button>
        </div>
        <div class="mt-5">
          <button
            style="
              background-color: #7a5bff;
              padding: 0.5em 3em;
              border: none;
              border-radius: 40px;
              color: white;
              margin-right: 3em;
            "
          >
            Buy Now
          </button>
          <button
            style="
              border: 1px solid #7a5bff;
              padding: 0.5em 3em;
              border-radius: 40px;
              background-color: white;
              color: #7a5bff;
              margin-right: 3em;
            "
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    // Add a click event listener to each thumbnail image
    $(".thumbnail").click(function () {
      // Get the source of the clicked image
      var newImageSrc = $(this).attr("src");

      // Update the main image source
      $("#main-image").attr("src", newImageSrc);
    });
  });
</script>
{% endblock %}
